<!DOCTYPE html>
<html>
<head>
	<title>Tutoring Website</title>
<style>
		table {
			border-collapse: collapse;
			background-color: white;
		}
		td {
			padding: 5px;
		}
		th {
			padding: 5px;
		}
		div {
			padding-bottom: 10px;
		}
		form {
			width: 50%;
			background-color: white;
		}
		body{
			margin-left: 15px;
			background-color: #c5d4ea;
		}
	</style>
</head>
<body id='body'>
	{{{body}}}
</body>
</html>